@import 'tailwindcss';

:root {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@layer base {
  * {
    @apply border-white/10;
  }
  body {
    @apply bg-background text-foreground;
  }
}
